include ../../_db/_posts

section.Posts
    mixin contact(post)
        h2.Posts__title= post.name
        article.Posts__item(itemtype="http://schema.org/CreativeWork")
            figure
                img.post(src=post.image_url)
                figcaption
                    a(href=post.link_url alt="Image Title")
                        h3= post.ref
                        p= post.color

    for post in posts
        +contact(post)
